annotations
benchmarks
checkpoints
configurations/conf_microc_rotated_pure_conv_tutorial
figures
GEO_files
inputs/DNA_sequences
inputs/landscape_arrays/K562/
inputs/landscape_arrays/training/
inputs/landscape_arrays/training_20kbp_context/
inputs/landscape_arrays/training_no_H3K27ac/
inputs/landscape_arrays/test_20kbp_context/
inputs/landscape_arrays/test_chr19/
inputs/landscape_arrays/test_no_H3K27ac/
inputs/microC
inputs/Promoter-CHiC/
inputs/microC_rotated/training/
inputs/perturbed_landscape_arrays/
results_CRISPR/
runs
runs_tutorial
scripts/*.py
scripts/*.sh
tables/
targets/K562/
targets/Enhancer_centered_targets.csv
targets/*perturbed_targets.csv
targets/test_targets_*.csv
targets/*1kbp*
targets/training_targets_Enformer.csv
training_targets.csv
HiC-Pro-3.1.0
*.log