annotations
benchmarks
checkpoints
figures
GEO_files
inputs/DNA_sequences
inputs/landscape_arrays/training/
inputs/microC
inputs/microC_rotated/training/
inputs/perturbed_landscape_arrays/
runs
runs_tutorial
scripts/*.py
scripts/*.sh
targets/perturbed_targets.csv
targets/test_targets_Enformer.csv
targets/training_targets_Enformer.csv
training_targets.csv
*.log